<div class="jumbotron back">
  <h1 className="display-3" style="color: white" >Integrated Medical Monitoring Platform for Home-care assistance</h1>
    <p className="lead" style="color: red" >Enabling real time monitoring of patients, remote-assisted care services and
      smart intake mechanism for prescribed medication.</p>
    <hr className="my-2"/>
    <p style="color: red" >This assignment represents the first module of the distributed software system "Integrated
      Medical Monitoring Platform for Home-care assistance that represents the final project
      for the Distributed Systems course. </p>
    <p className="lead">
      <button mat-button color="primary" (click)="navigateToDSRL()" style="color: greenyellow">Learn More</button>
    </p>

</div>
